<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/assets/css/chat.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title> Chat </title>
	<script type="text/javascript"></script>
	<style>
       
        body {
            font-family: Arial, sans-serif;}

        h1 {
            font-size: 24px;}
        
        li {
            font-size: 18px; 
            font-family: 'Arial', sans-serif;}

    </style>
</head>
<body>
<center> 
	<h1> 
<form action = "/chat" method = "POST"> 
	<input type = "text" name = "student" placeholder="Write your message, questions... ">  
	<input type="submit" class="iwant" value="submit">
</form>


	{%if conversation is not none %}
		{%for i in conversation%}
			{{users[conversation[i]['user']]["username"]}}
			<li>{{conversation[i]['input']}}</li>
		{%endfor%}
	{%endif%}



</center> 
</h1> 

</body>
</html> 